@model SIIS.Models.Secao

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.Indice)

<div class="row boxSecao">
    <label style="color: rgb(164, 231, 236)">Seção</label>
    <hr style="margin-top: 5px;" />
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Procedimento</label>
            @Html.TextAreaFor(x => x.Nome, new { @placeholder = "Reflete o fluxo de informação obtido durante um encontro médico.", @class = "form-control" })
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-link" onclick="RemoveSecao('@Model.Id')">
                <span class="glyphicon glyphicon-remove"></span> Remover esta Seção
            </button>
        </div>
    </div>
</div>
