@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1 style="font-family: 'Cabin',Arial,sans-serif;">SIIS</h1>*@
    <div class="row">
        <div class="col-md-12">
            <img style="margin-right: 15px; background-color: #fff; border-radius: 6px;" class="pull-left img-thumbnail" src="~/Content/imagens/logo_transparente.png" />
            <p class="lead" style=" margin-top: 50px;">Bem-Vindo ao Sistema de Integração de Informações de Saúde</p>
            <p>
                @*<a href="#" class="btn btn-primary btn-lg">Registrar &raquo;</a>
                <a href="#" class="btn btn-success btn-lg">Entrar &raquo;</a>*@
            </p>
        </div>
        @*<div class="col-md-9">
            
        </div>*@
    </div>
    
    
</div>
<div class="row">    
    <div class="col-md-6">
        <h2 style="font-family: 'Cabin',Arial,sans-serif;">Para que serve o SIIS</h2>
        <p style="text-align: justify">
            O SIIS é um portal que serve para integrar informações da saúde pública possibilitando a posterior
            consulta por profissionais de saúde, primando sempre pela segurança das informações.
        </p>
        <p><a class="btn btn-default" href="#">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 style="font-family: 'Cabin',Arial,sans-serif;">Porque utilizar o Portal SIIS</h2>
        <p style="text-align: justify">
            Muitos consultórios médicos utilizam sistemas de prontuário eletrônico.
            Existem também os que utilizam planilhas eletrônicas ou formulários em papel.
            Do ponto de vista global, toda esta informação acaba ficando fragmentada por não estar centralizada em um mesmo banco de dados.
        </p>
        <p><a class="btn btn-default" href="#">Leia mais &raquo;</a></p>
    </div>    
</div>

@*<div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <p class="lead">Bem-vindo ao portal do Programa da Saúde Brasileira</p>
                </div>
            </div>
        </div>
        @* Painel direito - Twitter
        <div class="col-md-3 pull-right">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Twitter
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>*@