@using SIIS.Models
@model IEnumerable<Secao>

@{
    int idComposicao = Model.First().Composicao.Id;
}

@foreach (Secao secao in Model)
{
    <div class="row boxSecao">
        <label style="color: rgb(164, 231, 236)">Seção</label>
        <hr style="margin-top: 5px;" />
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Procedimento</label>
                @Html.TextArea("Secao_Nome", secao.Descricao, new { @placeholder = "Reflete o fluxo de informação obtido durante um encontro médico.", @class = "form-control" })
            </div>
            <div>
                <button type="button" class="btn btn-sm btn-link" onclick="RemoveSecao('@secao.Id')">
                    <span class="glyphicon glyphicon-remove"></span> Remover esta Seção
                </button>
            </div>
        </div>
    </div>
}
<div class="row">
    <button type="button" class="btn btn-sm btn-link" onclick="AddSecao('@idComposicao')">
        <span class="glyphicon glyphicon-plus"></span> Nova Seção
    </button>
</div>