@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="lead">Extratos de Prontuário</p>

<div class="row">
    <div class="col-md-12">
        <p>@Html.ActionLink("Importar um extrato de Prontuário.", "Importar", "Extrato")</p>
        <p>@Html.ActionLink("Preencher um extrato de Prontuário.", "Preencher", "Extrato")</p>
    </div>    
</div>