@model SIIS.Models.Extrato
@{
    ViewBag.Title = "Preencher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preencher</h2>

@using (Html.BeginForm("Preencher", "Extrato", FormMethod.Post, new { @id = "formPreencherExtrato" }))
{
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                @Html.LabelFor(x => x.DataReferencia)
                @Html.TextBoxFor(x => x.DataReferencia)
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
}