body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 300px;
    color: #343434;
}

select {
    padding-right: 6px !important;
    padding-left: 6px!important;
}

legend {
    font-family: 'Cabin',Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    width: initial;
}

fieldset {
    border-bottom: 1px solid #0d747c;
    padding-bottom: 4px;
}

.comboPequena {
    width: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', Arial, sans-serif;
}

.boxComposicao {
    background-color: #097D86;
    border-radius: 3px;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
}

.boxSecao {
    background-color: #086b72;
    border-radius: 3px;
    padding: 10px 10px 0 10px;
    margin-top: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}